<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<div id="court">

</div>
<body>

</body>
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js"></script>
{#    <script type="text/javascript" src="../assets/external/js/d3/d3.v3.js"></script>#}
<script type="text/javascript"
        src="../assets/own/js/tennis_court_half_perso.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    var selector_impact = '#court';
    draw_court(selector_impact);
  });
</script>

<link rel="stylesheet" type="text/css"
      href="../assets/own/css/tennis_court.css">
</html>