{% extends 'tennis/match_stats.html' %}
    {% block objectives %}
          <div class="col-md-4" id="objectives">
          <table class="table table-condensed">
                  <thead>
                    <tr>
                        <th>Objectifs du match</th>
                        <th>Statut</th>
                        <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>Moins de 5 double fautes</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Plus de 70% de premier service</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Vitesse moyenne au premier service supérieure à 125 km/h.</td>
                        <td></td>
                        <td></td>
                    </tr>

                  </tbody>
              </table>
          </div>
    {% endblock %}